<footer class="mt-auto py-2">
  <div class="container-fluid">
      <hr class="py-0 bg-light" />
        <div class="row">
            <div class="col-md-6">Projet réalisé par Loucas Wiederkehr.<span class="small"><br><a href="https://github.com/Louc4s/Wiederkehr_Loucas_INFO1B_Agence_Immobiliere" target="_blank">Lien GitHub du projet.</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">11.06.2023</div>
        </div>
  </div>
</footer>
