{% extends "base.html" %}
{% block title %} Page d'accueil {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>
				Projet Agence Immobilière
			</h3>
			<h3>
				CRUD sur 3 tables autour des Biens et leurs types associés<br>
			</h3>
			<ul>
				<li class="list-item">
					<a href="https://github.com/Louc4s/Wiederkehr_Loucas_INFO1B_Agence_Immobiliere/blob/master/readme.md">Lien vers le readme.md</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

